/* HomePage.css */

/* Đặt kiểu nền tối cho trang chủ */
.home-page {
  background-color: var(--primary-backgroundColor);
  color: #ffffff;
  font-family: var(--primary-font);
  padding-top: 50px;
}

.body-container {
  margin: 0 auto;
  max-width: 75%;
}

.search-events-title {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

/* Banner Section */
.banner {
  margin-top: 130px; /* Đẩy phần banner xuống dưới header */
}

.banner-container {
  margin-bottom: 10px;
  padding-bottom: 20px;
  width: 100%;
  /* height: 400px; */
  position: relative;
  overflow: hidden; /* Ẩn phần cuộn ngang khi dịch chuyển banner */
}

.banner-slide-group {
  display: flex;
  transition: transform 0.5s ease;
  transform: translateX(
    calc(-100% * var(--currentBannerIndex, 0) / 2)
  ); /* Dịch chuyển nhóm 2 sự kiện */
}

.banner-slide {
  flex: 1 0 50%; /* Chiếm 50% chiều rộng của banner để hiển thị 2 sự kiện */
  box-sizing: border-box;
  padding: 0 5px; /* Khoảng cách giữa các banner */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(60%);
}

/* Thông tin sự kiện trên banner */
.banner-info {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #ffffff;
}

.banner-info .event-price {
  font-size: 1.1em;
  font-weight: 300;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.event-date {
  font-size: 1em;
  color: #d3d3d3;
  margin-bottom: 15px;
}

.event-button {
  padding: 5px 12px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9em;
  /* font-weight: bold; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* text-transform: uppercase; */
  transition: 0.5s;
  opacity: 70%;
}

.event-button:hover {
  opacity: 100%;
  /* background-color: white;
  color: var(--primary-color);
  transition: background-color 0.3s ease; */
}

/* Điểm điều hướng banner (dots) */
.banner-dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.banner-dot {
  width: 7px;
  height: 7px;
  background-color: #888;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-dot.active {
  background-color: var(--primary-color);
}

/* Nút mũi tên điều hướng */
.banner-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(56, 55, 55, 0.5);
  color: #ffffff;
  border: none;
  width: 30px;
  height: 40px;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.banner-arrow-left {
  left: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.banner-arrow-right {
  right: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.banner-arrow:hover {
  background-color: var(--primary-color);
}

/*========phần sự kiện nổi bật==============*/
.featured-events {
  /* margin-top: 40px; */
  position: relative;
  overflow: hidden;
  width: 100%;
}

.featured-events-title,
.music-events-title,
.art-events-title,
.others-events-title {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

.event-list {
  margin-top: 15px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-wrap: nowrap;
  width: calc(100% * 4); /* Đảm bảo đủ không gian cho 4 sự kiện */
}

.event-card {
  /* Điều chỉnh kích thước của từng EventCard */
  min-width: 100%; /* hoặc điều chỉnh theo số lượng card muốn hiển thị cùng lúc, ví dụ: 50% cho 2 card */
  flex: 0 0 100%;
}

.slider-arrow {
  position: absolute;
  width: 25px;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(58, 57, 57, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 1rem;
  transition: 0.5s;
}
.slider-arrow:hover {
  background-color: rgba(32, 32, 32, 0.5);
}

.slider-arrow-left {
  left: 0px;
}

.slider-arrow-right {
  right: 15px;
}

/* ========voucher-banner=========== */
.voucher-banner {
  margin-top: 30px;
}

.voucher-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

/* =============nhạc sống============= */
.music-events,
.art-events,
.others-events {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.music-events-header,
.art-events-header,
.others-events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-more {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  margin-right: 15px;
}

/* =============Điểm đến thú vị============= */
.interest-location {
  margin-top: 20px;
}

.interest-location-title {
  font-family: var(--primary-font);
  font-size: 1.2em;
}
.location-list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.location-item img {
  width: 267px;
  object-fit: cover;
  border-radius: 20px;
}

.location-item {
  position: relative;
}
.hochiminh-img::after {
  content: "Tp. Hồ Chí Minh";
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}
.hanoi-img::after {
  content: "Hà Nội";
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}
.dalat-img::after {
  content: "Đà Lạt";
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}
.vitrikhac-img::after {
  content: "Vị trí khác";
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}
