.footer {
  background-color: #333;
  color: #c0bfbf;
  padding: 20px 0;
  margin-top: 20px;
  font-family: var(--primary-font);
}

.footer-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 50px;
  gap: 300px;
}

.footer-contact-title,
.footer-policy-title,
.footer-connect-title {
  font-weight: 800;
  font-size: 1.1em;
}
.contact-desc {
  font-size: 0.9em;
}
.contact-desc .hotline {
  color: var(--primary-color);
  font-weight: bold;
}
.footer-policy ul {
  list-style: none;
  padding: 0;
}
.footer-policy li {
  margin-bottom: 10px;
}

.footer-policy li a {
  font-size: 0.9em;
  color: #c0bfbf;
  text-decoration: none;
}
.footer-policy li a:hover {
  color: white;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.footer-connect a {
  font-size: 2em;
}

.footer-facebook {
  display: flex;
  align-items: center;
}
.footer-facebook i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  color: white;
  background: rgb(51, 77, 241);
}
.footer-instagram i {
  color: rgb(236, 49, 164);
}
.footer-tiktok {
  display: flex;
  align-items: center;
}
.footer-tiktok i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  color: black;
  background: white;
  border-radius: 50%;
  width: 31px;
  height: 31px;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
}
