.search-results-bao {
  padding-top: 180px;
  background-color: var(--primary-backgroundColor);
  width: 100%;
  font-family: var(--primary-font);
}

.search-results-container {
  margin: 0 auto;
  color: white;
  width: 75%;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-event-title {
  color: var(--primary-color);
  font-size: 1.1em;
}

.filters {
  display: flex;
  gap: 20px;
}

.date-filter-container,
.location-filter-container {
  display: flex;
  align-items: center;
}

.date-filter-container label,
.location-filter-container label {
  margin-right: 8px;
}

/* Style for grid display */
.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.search-event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

/* .event-list li {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  transition: transform 0.2s;
} */

.event-list li:hover {
  transform: scale(1.05);
}

.event-thumbnail {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* .event-location {
    font-size: 14px;
    color: #bbb;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  } */

/* Style for filters */
/* .filters {
    margin-top: 16px;
    display: flex;
    gap: 20px;
  } */

.search-extra-event {
  margin-top: 30px;
}

.extra-event-list {
  margin-top: 10px;
}
