@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset margin và padding của toàn bộ trang */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Ngăn trang cuộn ngang nếu có khoảng trống bất thường */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black; */
}

:root {
  --extra-color: #ffea99;
  --primary-color: #ffb200;
  --primary-font: "Inter", sans-serif;
}
